@charset "utf-8";

@font-face{
    font-family: American Captain;
    src: url("American Captain.ttf") format("truetype");
}

p {
	text-align: center;
	color: black;
	-webkit-text-stroke: 1px white;
	font-family: American Captain;
	font-size: 10em;
	margin: 0px;
}

body {
	background-color: #131313;
	margin-left: auto;
	margin-right: auto;
	width: 100%;


}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 5px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}


div {
	padding: 10px;
}

	