body {
	background-color: #131313;
	margin-left: auto;
	margin-right: auto;
	width: 100%;


}

h1 {
	font-size: 64px;
	font-family: Arial Black;
	color: white;
	text-align: center;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 5px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}


div {
	padding: 10px;
}
	